language: php

sudo: false

cache:
  directories:
    - $HOME/.composer/cache/files

php:
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - hhvm

before_install:
  - composer self-update

install: composer install --dev --prefer-dist --no-interaction

script:
  - make ci
